doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title WPAP

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        img(src="http://ocehandhimas.com/wp-content/uploads/2014/03/logo-wpap.png" width="350" height="250")
        h3 Wedha’s Pop Art Portrait
        
      section
        h2 What is WPAP 
        img(src="http://3.bp.blogspot.com/-sf5-ESA7JJw/U5_9FQgpUvI/AAAAAAAABQY/W5t6CRiRkwE/s1600/tanda+tanya.jpg" width ="310")
      
      section
        h2 Perkembangan WPAP
        img(src="https://scontent-sin1-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/11425152_10200881469594727_2780015270462571681_n.jpg?oh=4abef97b260e18d1b0ea3b6c0a0d8fb1&oe=55F2B83A" width="400")
      section
        h2 Media Yang Digunakan
        img(src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xtf1/v/t1.0-9/11423399_960436237342347_95155481881142176_n.jpg?oh=de35218af4e5d385f1eb1beac6fe30cf&oe=55FF6D33&__gda__=1442619234_cbd58cbb9f89fce0ec94997ea2cbbbe6" width ="300" height="300")

      section
        h2 Unsur WPAP
        ul
         li Garis : Digunakan untuk dasar membuat WPAP
         li Node  : Point atau titik patahan sebagai elemen dari garis
         li Warna : Warna POP, tanpa ada abu-abu dan warna kulit
         li Facet : Gabungan dari ketiga unsur diatas
      
      section
        h2 Proses Dasar Utama Di WPAP
        ul
         li Proses Faceting, teknik membuat garis face yang sama persis
         li Proses Pewarnaan
         
      section
        h2 Tingkatan Pembuat WPAP   
        ul
         li Pemula/Newbie, Orang yang baru mencoba untuk membuat WPAP
         li Amatir/Lanjutan, Upgrade dari para pemula yang seudah memahami dasar-dasar WPAP
         li Advance/Semi pro, Tingkat yang sudah sangat bisa membuat WPAP
         li Master/Pro, Menguasai bahkan membuat teknik sendiri dalam pembuatan WPAP
     
      section
        h2 Cara membuat WPAP   
        ul
         li 1.	Pertama faceting: menentukan garis, titik dan sudut
         li 2.	Coloring: menentukan warna. Beberapa WPAPers mebuat versi skintone (warna kulit), grayscale (hitam-putih) terlebih dahulu dimaksudkan agar lebih mudah menentukan gelap terangnya warna, dan kemudian menggunakan palet warna. Bahkan ada yang langsung diwarna.
      
      section
        h2 Teknik dalam WPAP
        ul
         li WPAP normal, Tekhnik WPAP yang facetingnya seperti biasa mengikuti bentuk wajah atau objek tanpa ada penyederhanaan.
         li WPAP simpel, WPAP ini menggunakan facet yang simpel, tegas, namun tetap mempertahankan kemiripannya.
         li Kroak style, Wpap dengan beberapa bagian terlihat menyatu dengan background atau terlihat sengaja dihilangkan pada beberapa bagian facet.
         li WPAP detail, WPAP jenis ini biasanya menggunakan facet normal hanya saja dalam skala yang lebih banyak.
        
      section
        ul
         li WPAP mix 45 derajat, WPAP dengan kesulitan tertinggi, seluruh objek dalam WPAP ini menggunakan sudut kemiringan 45 derajat.

      
    script(src='build/build.js')