doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 WPAP ART
        h3 Wedha’s Pop Art Portrait
        img(src="http://img15.deviantart.net/e54f/i/2015/112/3/c/wpap_iron_man_3_60x80cm_300dpi_a_by_yuhend-d5xgywi.jpg" width="304" height="405")

      section
        h2 Sekilas tentang WPAP
       
        ul 
          li Seni ilustrasi potret wajah yang bersaling-silang dengan penggunaan kontradiksi warna khusus
           
 
      section
        h2 Media Yang Digunakan
        ul
          li CorelDraw
          li Adobe Photoshop
          li Adobe Ilustrator

      section
        h2 Unsur WPAP
        ul
         li Garis : Digunakan untuk dasar membuat WPAP
         li Node  : Point atau titik patahan sebagai elemen dari garis
         li Warna : Warna POP, tanpa ada abu-abu dan warna kulit
         li Facet : Gabungan dari ketiga unsur diatas
      
      section
        h2 Proses Dasar Utama di WPAP
        ul
         li Proses Faceting, teknik membuat garis face yang sama persis
         li proses pewarnaan

      
    script(src='build/build.js')